<div class="content-section fields-section" id="fieldsSection">
  <h4 class="content-section-head"><span>Fields</span></h4>
  <%#= common_error_messages(@scope_object.class.table_name.to_sym) %>
  <form class="form" action="/<%= @scope_object.class.table_name %>/<%= @scope_object.id %>/fields" method="post" autocomplete="off" novalidate="novalidate">
    <div class="form-actions"><input type="submit" name="save" value="save" /></div>
    <% if @fields.empty? %>
    <p>No fields have been setup.</p>
    <% else %>
    <% @fields.each do |k,v| %>
      <fieldset class="field-group entity-fields <%= k.to_s %>-fields">
        <legend class="field-group-head"><span><%= k.to_s.titleize %></span></legend>
        <% if v.empty? %>
          <p>No fields associated with the <%= k.to_s %></p>
        <% else %>
<!-- TODO: yank current user -->
          <% v.each do |field| %>
            <%= render :partial => "/has_fields/fields/field", :formats => [:html], :locals => {:field => field, :entity => @scope_object, :scope => k, :scope_id => k==:user ? current_user.id : current_user.send(k).id} %>
          <% end %>
        <% end %>
      </fieldset>
    <% end %>
    <% end %>
    <p class="form-actions">
      <input name="_method" type="hidden" value="put" />
      <input  class="action save-action" type="submit" name="save" value="save" />
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <a class="cancel-link" title="Close form and discard any unsaved changes" href="/<%= @scope_object.class.table_name %>/<%= @scope_object.id %>/overview">cancel</a>
    </p>
  </form>
</div>
