<div class="content-section fields-section" id="fieldsSection">
  <h4 class="content-section-head"><span>Fields</span></h4>
  <div class="form">
    <% if @fields.empty? %>
    <p>No fields have been setup.</p>
    <% else %>
    <% @fields.each do |k,v| %>
      <div class="field-group entity-fields <%= k %>-fields">
        <h5 class="field-group-head"><span><%= k.to_s.titleize %> Fields</span></h5>
        <% if v.empty? %>
          <p>none</p>
        <% else %>
          <% v.each do |field| %>
            <p class="field">
              <dfn class="field-label"><%= field.name %></dfn> 
              <span class="value">
<!-- TODO: yank current user -->
                <% if field_attribute = @fieldable.fields[k][(k==:user ? current_user.id : current_user.send(k).id)][field.name] %>
                  <% if field_attribute.is_a?(Date) %>
                    <%= field_attribute.strftime("%d %B %Y") %>
                  <% elsif field_attribute.is_a?(TrueClass) %>
                    Yes
                  <% else %>
                    <%= field_attribute %>
                  <% end %>
                <% end %>
              </span>
            </p>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>

