<div class="content-section fields-section" id="fieldsSection">
  <h4 class="content-section-head"><span>Edit Field</span></h4>
  <%= common_error_messages(:field) %>
  <form class="form" action="/<%= "#{@field.scoped_by_class}/#{@scope_object.id}/fields/manage/#{@field.id}" %>" method="post" autocomplete="off" novalidate="novalidate">
    <div class="form-actions"><input type="submit" name="save" value="save" /></div>
    <fieldset class="field-group field-info">
      <legend class="field-group-head"><span>Field Info</span></legend>
      <p class="field text-field name<%= " error" if @field.errors.include?(:name) %>">
        <label>
          <span class="field-label">Name</span>
          <input class="input" type="text" name="field[name]" value="<%= @field.name %>" />
        </label>
      </p>
    </fieldset>
    <% if @field.style == "select" %>
    <% @field.field_select_options.build %>
    <fieldset class="field-group field-select-options">
      <legend class="field-group-head"><span>Select Options</span><input class="action" type="submit" name="add" value="Add" /></legend>
      <% @field.field_select_options.each_with_index do |field_select_option, i| %>
      <p class="field text-field">
        <label>
          <span class="field-label">Option <%= i + 1 %></span>
          <input class="input" type="hidden" name="field[field_select_options_attributes][<%= i %>][id]" value="<%= @field.field_select_options[i].id %>" />
          <input class="input" type="text" name="field[field_select_options_attributes][<%= i %>][option]" value="<%= field_select_option.option %>" />
        </label>
      </p>
      <% end %>
    </fieldset>
    <% end %>
    <p class="form-actions">
      <a class="action delete-action" title="Permanantly delete this field." href="/destroy_confirmation?path=/<%= "#{@field.scoped_by_class}/#{@scope_object.id}/fields/manage/#{@field.id}" %>">delete</a>
      <input name="_method" type="hidden" value="put" />
      <input  class="action save-action" type="submit" name="save" value="save" />
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <a class="cancel-link" title="Close form and discard any unsaved changes" href="/<%= "#{@field.scoped_by_class}/#{@scope_object.id}/fields/manage" %>">cancel</a>
    </p>
  </form>
</div>

