<div class="content-section fields-section" id="fieldsSection">
  <h4 class="content-section-head"><span>Fields</span></h4>
  <div class="form">
    <div class="field-group entity-fields <%= @resource %>-fields">
      <h5 class="field-group-head"><span><%= @resource.titleize %> Fields for <%= (@scope == 'user' ? current_user : current_user.send(@scope)).try(:name) %></span></h5>
      <% if @fields.empty? %>
          <p>none</p>
      <% else %>
        <div class="records">
          <table>
            <tr>
              <th>Name</th>
              <th>Style</th>
              <th>Scoped by</th>
              <th></th>
            </tr>
            <% @fields.each do |field| %>
              <tr>
                <td>
                  <%= link_to(field.name, "/#{field.scoped_by_class}/fields/#{@resource}/manage/#{field.id}") %>
                </td>
                <td>
                  <%= field.style %>
                </td>
                <td>
                  <%= field.scoped_by_class %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
<%= link_to("New Field", "/#{@scope}/fields/#{@resource}/manage/new") %>
</div>

