<div class="content-section fields-section" id="fieldsSection">
  <h4 class="content-section-head"><span>Fields</span></h4>
  <div class="form">
    <ul class="field-group-index">
      <% @resources.sort.each do |resource| %>
      <li class="index<%= " selected" if @resources.index(resource) == 0 %>"><a href="#<%= resource.camelcase %>FieldsGroup"><%= resource %></a></li>
      <% end %>
    </ul>
    <% @resources.each do |resource| %>
    <div class="field-group field-<%= resource %>" id="<%= resource.camelcase %>FieldsGroup">
      <h5 class="field-group-head"><span><%= resource %></span></h5>
      <form action="/<%= @scope.pluralize %>/<%= @scope_object.id %>/fields/manage" method="get" autocomplete="off" novalidate="novalidate">
        <%= render :partial => "/shared/list/table", :formats => [:html], :locals => {:screens => nil, :records => "#{resource.underscore}_fields", :partial => "has_fields/manage/fields", :add => {:partial => nil, :link => "/#{@scope.pluralize}/#{@scope_object.id}/fields/manage/new?kind=#{resource}"}} %>
      </form>
    </div>
    <% end %>
  </div>
</div>
