<div class="content-section info-section" id="infoSection">
  <h4 class="content-section-head"><span>New Field</span></h4>
  <%= common_error_messages(@resource.constantize.table_name.to_sym) if @resource %>
  <form class="form" action="<%= "/#{@scope.pluralize}/#{@scope_object.id}/fields/manage"%>" method="post" autocomplete="off" novalidate="novalidate">
    <div class="form-actions"><input type="submit" name="save" value="save" /></div>
    <fieldset class="field-group field-info">
      <legend class="field-group-head"><span>Field Info</span></legend>
      <p class="field text-field name">
        <label>
          <span class="field-label">Name</span>
          <input class="input" type="text" name="field[name]" value="<%= @field.name %>" />
        </label>
      </p>
      <p class="field text-field">
        <label>
          <span class="field-label">Style</span>
          <%= select_tag "field[style]", options_for_select(["checkbox","date","select","text"], @field.style) %>
        </label>
      </p>
      <p class="field text-field">
        <label>
          <span class="field-label">Applies to</span>
          <%= select_tag "field[kind]", options_for_select(HasFields.config.keys.sort, @field.kind || params[:kind]) %>
        </label>
      </p>
    </fieldset>
    <% @field.field_select_options.build %>
    <fieldset class="field-group field-select-options">
      <legend class="field-group-head"><span>Select Options</span><input class="action" type="submit" name="add" value="Add" /></legend>
      <p class="field text-field">
        <label>
          <% @field.field_select_options.length.times do |i| %>
          <input class="input" type="text" name="field[field_select_options_attributes][<%= i %>][option]" value="<%= @field.select_options_data[i] %>" />
          <% end %>
        </label>
      </p>
    </fieldset>
    <p class="form-actions">
      <input  class="action save-action" type="submit" name="save" value="save" />
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
      <a class="cancel-link" title="Close form and discard any unsaved changes" href="<%= "/#{@scope}/#{@scope_object.id}/fields/manage"%>">cancel</a>
    </p>
  </form>
</div>