<%= link_to "back", "/#{@field.scoped_by_class.pluralize}/#{@scope_object.id}/fields/#{@resource}/manage" %>
<div class="content-section info-section" id="infoSection">
  <p>
    <strong>
      Name:
    </strong>
    <%= @field.name %>
  </p>
  <p>
    <strong>
      Kind:
    </strong>
    <%= @field.kind %>
  </p>
  <p>
    <strong>
      style:
    </strong>
    <%= @field.style %>
  </p>
  <p>
    <strong>
      Associated with <%= @field.scoped_by_class %>:
    </strong>
    <%= @field.scoped_by_object.name %>
  </p>
  <p>
    <strong>
      Number of associated field attributes:
    </strong>
    <%= @field.field_attributes.count %>
  </p>
</div>
<%= link_to("Edit", "/#{@field.scoped_by_class.pluralize}/#{@scope_object.id}/fields/advisors/manage/#{@field.id}/edit") %>